.content-wrapper {
    background: rgb(241, 241, 241);
    padding: 20px;
    min-height: 90vh;
}

/* MENU */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

/* menu-left */
.menu__left {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
}

.fa-bars {
    color: rgb(110, 110, 218);
    margin-right: 10px;
}

h1 {
    padding-left: 20px;
}

/* menu right */
.menu__right {
    text-align: end;
    line-height: 30px;
}

.menu__right--row1 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu__right--row1 span {
    margin: 0 10px;
}

.fa-check {
    background: linear-gradient(90deg, #8dd67a 50%, #209e3c 50%);
    border-radius: 100%;
    font-size: 0.8rem;
    padding: 3px;
    color: #fff;
}

.fa-redo-alt {
    color:rgb(147, 147, 209)
}

.range, .total-months, .start-date {
    margin-left: 10px;
}

.menu__right--row2 {
    padding-top: 10px;
}

.menu__right--row2 input, .menu__right--row2 select {
    border: rgb(219, 214, 214) solid 1px;
    background: rgb(255, 251, 251);
    padding: 5px;
    margin: 0 5px;
}

/* MAIN (graph and data) */
.main {
    display: flex;
    justify-content: space-between;
}

.main__left, .main__right {
    background: #fff;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 1px 1px 1px rgba(190, 190, 190, 0.3);
}

/* main left (GRAPH)*/
.main__left{
    width: 70%;
    min-height: 100%;
    margin: 0 30px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.main__left--selection {
    padding: 0 20px;
}

.main__left--selection select {
    border: rgb(192, 191, 191) solid 1px;
    box-shadow: -1px 1px 1px 1px rgba(190, 190, 190, 0.3);
}

.main__left--selection span {
    font-weight: bold;
    padding: 0 5px;
}

.main__left--chart {
    margin: 20px 0;
}

.canvasjs-chart-credit {
    display: none;
}

.canvasjs-chart-toolbar {
    display: none;
}

.canvas-container {
    margin-top: 30px;
}

/* main right (DATA)*/
.main__right {
    width: 40%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}

.main__right--top {
    width: 100%;
}

.main__right--top h5 {
    color:black;
}

.main__right--top div {
    color:rgb(155, 155, 155);
}

.main__right--bottom .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
}

.col-left, .col-center  {
    margin-right: 10px;
}

.main-font {
    font-size: 1.1rem;
}

.minor-font {
    font-size: 0.9rem;
}

.main__right--bottom .row .col {
    padding-top: 10px;
}

/* //////////////////////////////////////////////////////////////// */
/* SMALL DEVICES */
@media (max-width: 900px) {
    .menu {
        display: flex;
        flex-direction: column;

    }

    .menu__left {
        font-size: 1.4rem;
        text-align: start;
        width: 100%;
    }

    .menu__right {
        text-align: end;
        width: 100%;
    }
}

